<!DOCTYPE html>
<html>
<head>
	<title>Ajuda</title>
	<link rel="icon" type="image/png" href="/img/icon.png"/>
	<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles">
</head>
<body>
	<div class="figure">
		<h1>Como Jogar:</h1>
		<h2><p>Ao clicar em um led, ele e os que estão a sua volta se apagam, caso já estejam apagados, o oposto ocorre. Você vencerá o jogo se conseguir apagar todos os leds.</p>

		<p>
			Caso o nível seja especificado ao terminá-lo, será iniciado um novo jogo com o mesmo nível. </br>
			Porém se a escolha for nível 0, o jogo iniciará do nível 1 e irá aumentar progressivamente. </br>
			<p>Boa sorte!</p>
		</p></h2>
	
	</div>
	 <a class="footer-item" href="/">Voltar</a>
</body>
</html>