<!DOCTYPE html>
<html>
<head>
	<title>Led Lógico</title>
	<meta name="keywords" content="HTML, CSS, JavaScript">
	<link rel="icon" type="image/png" href="/img/icon.png"/>
	<link rel="stylesheet" type="text/css" href="styles">
	<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap" rel="stylesheet">
</head>
<body>
	
	

	<div class="menu">
		<div class="logo">LED LOGICO</div>
		<div class="links">
			<a class="link" href="start">Iniciar</a>
			<a class="link" href="ajuda">Ajuda</a>
			<a class="link" href="sobre">Sobre</a>
			
		</div>
	</div>

</body>
</html>