<!DOCTYPE html>
<html>

<head>
  <title>Projeto Logica</title>
  <link rel="icon" type="image/png" href="/img/icon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles">
</head>

<body class="sobreBody">

  <div class="descSobre">
    <h1>SOBRE O PROJETO</h1>
    <h2 id="sobre-projeto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Este projeto foi desenvolvido pelos alunos dos cursos
      Informática Para Internet e Sistemas para internet do Instituto Federal de Pernambuco como um requisito para
      aprovação na disciplina de Lógica de Programação. Também serviu para adquirir experiência e por em prática
      conhecimentos que envolvem aplicações web. </br>
    </h2>
  </div>

  <figure class="figure">
    <h1>EQUIPE:</h1>

    <figcaption>
      <img src="img/alicem.jpg" class="pic left">
      <h2 class="h-left">Alice Maria Nascimento de Souza </h2>
      <h3 class="h-left">Cursando Informática Para Internet - IFPE</h3>
      <h3 class="h-left">E-mail: alicensouza5@gmail.com</h3>
    </figcaption>

    <figcaption>
      <img src="img/alicevas.jpeg" class="pic right"> <!--  tinha um style vazio -->
      <h2 class="h-right">Alice Vasconcelos Brandt da Costa</h2>
      <h3 class="h-right">Cursando Informática Para Internet - IFPE</h3>
      <h3 class="h-right">E-mail: alicebrandt.c@gmail.com </h3>
    </figcaption>

    <figcaption>
      <img src="img/jose.jpeg" class="pic left">
      <h2 class="h-left">José Henrique Rodrigues Ribeiro de Albuquerque</h2>
      <h3 class="h-left">Cursando Sistemas Para Internet - IFPE</h3>
      <h3 class="h-left">E-mail: henribeiro99@gmail.com</h3>
    </figcaption>

    <figcaption>
      <img src="img/silvio.jpg" class="pic right">
      <h2 class="h-right">Silvio José de Paiva Filho</h2>
      <h3 class="h-right">Cursando Sistemas Para Internet - IFPE</h3>
      <h3 class="h-right">E-mail: silvioej@gmail.com</h3>
    </figcaption>

    <figcaption>
      <img src="img/simeia.jpg" class="pic left">
      <h2 class="h-left">Siméia Olímpia</h2>
      <h3 class="h-left">Cursando Sistemas Para Internet - IFPE</h3>
      <h3 class="h-left">E-mail: simeiaup@gmail.com</h3>
    </figcaption>


    <figcaption>
      <img src="img/lucas.jpg" class="pic right">
      <h2 class="h-right">Lucas Antônio Santos Rodrigues</h2>
      <h3 class="h-right">Cursando Informática Para Internet - IFPE</h3>
      <h3 class="h-right">E-mail: lucasantonio80012@gmail.com</h3>
    </figcaption>

  </figure>

  <a class="footer-item" href="/">Voltar</a>

</body>

</html>